doctype html(lang='en')
head
    title Blog
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |      
    link(rel='shortcut icon', href='./image/icon.png')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    |  
    link(rel='stylesheet', href='./css/style.css')
    |       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
    .container-fluid
      .row.content
        .col-md-12
        .error-template
          h1
            | Oops!
          |                 
          h2
            | 404 Not Found
          |                 
          .error-details
            | Sorry, an error has occured, Requested page not found!
          |                 
          .error-actions
              a.btn.btn-primary.btn-lg(href='/api/')
                span.glyphicon.glyphicon-home
                |                         Take Me Home
              a.btn.btn-default.btn-lg(href='/api/')
                span.glyphicon.glyphicon-envelope
                |  Contact Support

    footer.container-fluid
      p © 2017 ABC Inc. All rights reserved.
