extends ./layout
block content
    h4
    small RECENT POSTS
    |       
    hr
    |       
    h2 I Love Food
    |       
    h5
      span.glyphicon.glyphicon-time
      |  Post by Jane Dane, Sep 27, 2015.
    |       
    h5
      span.label.label-danger Food
      |  
      span.label.label-primary Ipsum
    br
    |       
    p
      | Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    |       
    br
    br
    |       
    |       
    h4
      small RECENT POSTS
    |       
    hr
    |       
    h2 Officially Blogging
    |       
    h5
      span.glyphicon.glyphicon-time
      |  Post by John Doe, Sep 24, 2015.
    |       
    h5
      span.label.label-success Lorem
    br
    |       
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.