extends ./layout
block content
    span.label.label-primary Search blog
      .col-sm-12
          form(method='post')
            | Title:
            br
            |   
            input.form-control(type='text', name='title', placeholder='Enter title here')
            |
            br
            |
            input(type='submit', class='btn btn-primary', name='submit', value='Search')
            |
    ul
    each blog in {blogs}
      each item in {blog}
        if item
          a(href='/api/viewblog/'+item.id)
            h1 #{item.title}
          span.glyphicon.glyphicon-time
          | Author: #{item.author} , #{item.created}
          |       
          h5
          span.label.label-danger #{item.type}